body{
background-color: #80A6FF;
}


.cows{
  position: relative;
  width: 100%;
  height: 100%;
}

.cow{
    max-width: 8%;
    max-height: 8%;
    position: absolute;
    animation-name: moveBackAndForth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


 @keyframes moveBackAndForth {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(600px);
            }
        }

.grass {
  background-color: #46c254;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height: 400px;
  border: 2px solid #46c254;
  
}

.sidebar{
    background-color: #7f8490;
    position: fixed;
    left: 75%;
    bottom: 0;
    width: 25%;
    height: 100%;

}

.dataButton{
    background-color: #e8e9ec;
    position: fixed;
    bottom: 5%;
    height: 10%;
    width: 25%;
    border: 2px solid #4a505a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;

}


.vibeButton{
    background-color: #e8e9ec;
    position: fixed;
    bottom: 20%;
    height: 10%;
    width: 25%;
    border: 2px solid #4a505a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;

}

.populationCounter{
    background-color: #7f8490;
    position: fixed;
    top: 0%;
    height: .5%;
    width: 25%;
    border: 2px solid #7f8490;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: #1b1b1b;
    z-index: 10;
}

.dataCenter{
    background-color:#7f8490;
    width: 8%;
    height: 4%;

}

.pond{
height: 18px;
  width: 140px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #322fd3;
}

.fundingCounter{
    background-color: #e8e9ec;
    position: fixed;
    top: 10%;
    height: 5%;
    width: 25%;
    border: 2px solid #4a505a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 10;
}

.vibeCoderCounter{
  background-color: #e8e9ec;
    position: fixed;
    top: 15%;
    height: 5%;
    width: 25%;
    border: 2px solid #4a505a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 10;
}

